<!-- Footer -->
<!-- <div class="for-margin">
</div> -->
<!-- <div class="relative-bottom"> -->
<div class="fixed-bottom">
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Pallop Bunnak</a>
    <a href="https://github.com/pikkoro123" target="_blank"><img class="linkMe" src="assets/images/github.png"></a>
    <a href="https://web.facebook.com/kotaro.katsura.98" target="_blank"><img class="linkMe" src="assets/images/facebook.png"></a>

  </div>


  <!-- Copyright -->

</footer>
</div>
<!-- Footer -->
