<!-- Footer -->
<!-- <div class="for-margin">
</div> -->
<!-- <div class="relative-bottom"> -->
<!-- <div class="fixed-bottom"> -->

<footer class="page-footer font-small blue">

  <div class="container footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Pallop Bunnak</a>
    <a href="https://github.com/pikkoro123" target="_blank"><img class="linkMe" src="assets/images/github.png"></a>
    <a href="https://web.facebook.com/kotaro.katsura.98" target="_blank"><img class="linkMe" src="assets/images/facebook.png"></a>

  </div>
</footer>

<!-- </div> -->
<!-- <footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> -->
<!-- Footer -->

<!-- <footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
          <a href="#"> Pallop Bunnak</a>
        </div>
      </div>
    </div>
  </div>
</footer> -->
