<form [formGroup]="indexsForm" (ngSubmit)="submit()">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <h3>Series => X, Y, 5, 9, 15, 23, Z</h3>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="indexX">Index X: </label>
      <input formControlName="indexX" type="text" class="form-control" id="indexX" placeholder="Index X" required>
      <div *ngIf="f.indexX.touched && f.indexX.invalid" class="alert alert-danger">
        <div *ngIf="f.indexX.errors">Index X is incorrected.</div>

      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="indexY">Index Y: </label>
      <input formControlName="indexY" type="text" class="form-control" id="indexY" placeholder="Index Y" required>
      <div *ngIf="f.indexY.touched && f.indexY.invalid" class="alert alert-danger">
        <div *ngIf="f.indexY.errors">Index Y is incorrected.</div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="indexZ">Index Z: </label>
      <input formControlName="indexZ" type="text" class="form-control" id="indexZ" placeholder="Index Z" required>
      <div *ngIf="f.indexZ.touched && f.indexZ.invalid" class="alert alert-danger">
        <div *ngIf="f.indexZ.errors">Index Z is incorrected.</div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <button class="btn btn-primary" type="submit">Calculate</button>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <h3>Output => X = {{valueX}}, Y = {{valueY}}, Z = {{valueZ}}</h3>
    </div>
  </div>
</form>
